canvas {
  background-color: #CCCCCC;
}

.workspace {
  margin: 0 1em;
}

.input, #cvs-n-color-gif {
  display: none;
}

.drag-valid {
  background-color: green;
}

.palette-swatch {
  display: inline-block;
  width: 25px;
  height: 25px;
}